.episode-wrapper {
    white-space: pre-wrap; 
    overflow-wrap: break-word;
    width:100%;
    font-size:13px;
    padding:5px;
}

.episode-row {
    display:flex;
    flex-direction:row;
    width:100%;

}

.episode-discussion-button {
    margin-left:10px;
}

.episode-date {
    font-size:10px;
}

.episode-location {
    font-size:12px;
    color:#999;
    font-weight:bold;
}

.episode-duration {
    font-size:12px;
    font-weight:bold;
    font-family:Ariel;
    margin-left:auto;
}


.episode-title{
    font-family: Arial;
    font-size: 15px;
    font-weight:bold;
}

.episode-right {
    margin-left:auto;
}

.episode-like {

}

.episodes-column {
    display:flex;
    flex-direction:column;
}

.episode-page-main-1 {
    background-color:#FFF;
    padding:10px;
}

.episode-container {
    max-width:100%;
    white-space: pre-wrap; 
    overflow-wrap: break-word;
    position:relative;
    padding:5px;
    z-index:0;
}