/*
    For reference: Karl Hadwen, 
        https://github.com/karlhadwen/netflix/blob/master/src/components/card/styles/card.js;

    For scrollbar: 
      https://dev.to/xtrp/how-to-create-a-beautiful-custom-scrollbar-for-your-site-in-plain-css-1mjg;
*/
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

 .landing-subtitle-italics {
  color:#999;
  font-style:italic;
  font-size:12px;
  margin:5px;
  font-weight:bold;
  position:relative;
  margin-left:80vw;
 }

 .landing-main-box {
  border-radius:10px;
  background-color: rgba(255,255,255,0.5);
  margin:20px;
  padding-bottom:20px;
  padding-top:15px;
  display:block;
  max-width:100%;
 }

 .landing-big-title {
  font-size:50px;
  line-height: 40px;
  font-family:Arial;
  font-weight:bold;
  color:#fdf8f9;

  position:absolute;
  bottom:20px;
  right:50px;
 }

 .landing-big-title-2 {
  font-size:35px;
  line-height: 35px;
  font-family:Arial;
  font-weight:bold;
  color:#fdf8f9;
  position:relative;
  margin-left:15px;
 }


.landing-no-see {
  background: red;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position:absolute;
  right:0;
  top:0;
  z-index:2;
}

.landing-no-see-text{
  color:#FFF;
  font-size:10px;
  font-weight:bold;
  margin:2px;  
}

.landing-show {
  display:block;
}

.landing-hidden {
  display: none;
}

.landing-wrapper {
  display:block;
  padding:10px;
}

.landing-title {
  font-size: 24px;
  font-weight: bold;
  color: #999;
  position: relative;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom:5px;
}

.landing-title-small {
  font-size: 14px;
  font-weight: bold;
  color: #999;
  position: relative;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom:5px;
}


.landing-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left:45px;

}

 @media (max-width: 800px) {
  .landing-container{
    padding-left:16px;

  }
  .landing-title {
    margin-left:5px;
  }
 }


.group {
  display: flex;
  flex-direction: row;
  align-items: row; 
}


/**

**/
.landing-account-sub {
  font-size:12px;
  font-family:Arial;
  color:#999
}

.subtitle {
  font-size: 12px;
  color: #999;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  user-select: none;
  display: none;    
}

.text {
  margin-top: 5px;
  font-size: 10px;
  color: #999;
  margin-bottom: 0;
  user-select: none;
  display: none;
  line-height: normal;
}

.entities {
  display: flex;
  flex-direction: row;  
}

.meta {
  display: none;
  position: absolute;
  bottom: 0;
  padding: 10px;
  background-color: #0000008f;  
}

.landing-img {
  border: 0;
  width: 100%;
  padding: 0;
  height:auto;
  border-radius:5px;
  margin: 0;
}

.landing-item {
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  margin-right: 5px;
  margin-bottom: 5px;
  position: relative;
  max-width:15.2vw;
  min-width:15.2vw;
  border-radius:5px;
  transition: transform 0.2s;
}

.landing-item-mobile {
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  margin-right: 5px;
  margin-bottom: 5px;
  position: relative;
  max-width:15.2vw;
  min-width:15.2vw;
  border-radius:5px;
  transition: transform 0.2s;
}

.landing-item:hover {
    transform: scale(1.13);
    z-index: 3;
 }

 .landing-item:hover > .landing-feature { /* Note this is the only difference between landing-item and landing-item-mobile*/
   display:flex;
 }

  .landing-item:hover > .landing-feature-subscribe { /* Note this is the only difference between landing-item and landing-item-mobile*/
   display:flex;
 }

.landing-item-mobile:hover {
    transform: scale(1.13);
    z-index: 3;
}

 @media (max-width: 900px) and (min-width: 500px){
    .landing-item{
      max-width:20vw;
      min-width:20vw;
    }
    .landing-item-mobile{
      max-width:20vw;
      min-width:20vw;
    }
 }
 @media (max-width: 499px){

    .landing-item-mobile{
      max-width:35vw;
      min-width:35vw;
    }
 }

.landing-feature {
  display:none;
  flex-direction: row;
  flex-wrap:wrap;
  position: absolute;
  min-height: 100%;
  width:100%;
  padding:3px;
  transition: transform 0.2s;
  background-color: rgba(0,0,0,0.5);
}

.landing-feature-subscribe {
  display:none;
  flex-direction: row;
  flex-wrap:wrap;
  position: absolute;
  min-height: 100%;
  width:100%;
  padding:3px;
  transition: transform 0.2s;
  background-color: rgba(245,171,53,0.8);
}


.landing-feature-go {
  font-size:12px;
  position:absolute;

}

.landing-feature-mobile {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  position: absolute;
  max-width:100%;
  padding:3px;
  min-height: 100%;
  border-radius: 25px;
  transition: transform 0.2s;
  background-color: rgba(0,0,0,.8);
}

.landing-feature-mobile-subscribe {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  position: absolute;
  max-width:100%;
  padding:3px;
  border-radius: 25px;
  min-height: 100%;
  transition: transform 0.2s;
  background-color: rgba(245,171,53,0.8);
}

.landing-feature-row {
  width:100%
}

.landing-feature-title {
  font-size: 25px;
  position:relative;
  font-weight:bold;
  margin:5px;
  color:white;
  width:100%
}

.landing-feature-title-mobile {
  font-size: 12px;
  position:relative;
  font-weight:bold;
  color:white;
  width:100%  
}

.landing-feature-text {
  font-size: 14px;
  color:white;
  font-weight:bold;
  margin-left:2px;
}

.landing-feature-text-mobile {
  font-size: 10px;
  color:white;
  font-weight:bold;
  margin-left:2px;
}

.landing-featureClose {
  color: white;
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: transparent;
  border: 0;
}

.featureClose img{
  filter: brightness(0) invert(1);
  width: 24px;
}

.content {
  margin: 56px;
  max-width: 500px;
  line-height: normal;
  @media (max-width: 1000px) {
    margin: 30px;
    max-width: none;
  }
}

.landing-row {
  width:100%;
  margin-top:10px;
}

